<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
  <th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
      <h1>Guest Book Write</h1>
      
      <form method="post">

        <div class="mb-3 mt-3">
          <label for="title" class="form-label">title</label>
          <input type="text" class="form-control" id="title" placeholder="Enter title" name="title" readonly th:value="${dto.title}">
        </div>

        <div class="mb-3">
          <label for="content" >content</label>
          <textarea class="form-control" rows="5" id="content" placeholder="Enter content" name="content" th:value="${dto.content}"></textarea>
        </div>

        <div class="mb-3">
          <label class="writer">writer</label>
          <input type="text" id = "writer" name="writer" placeholder="Enter Writer" class="form-control" readonly th:value="${dto.writer}">
        </div>
        
        <div class="mb-3">
          <label class="writer">regDate</label>
          <input type="text" id = "writer" name="regDate" placeholder="Enter Writer" class="form-control" readonly th:value="${dto.regDate}">
        </div>
        
        <div class="mb-3">
          <label class="writer">modDate</label>
          <input type="text" id = "writer" name="modDate" placeholder="Enter Writer" class="form-control" readonly th:value="${dto.modDate}">
        </div>
        
        <input type="hidden" name="page" th:value="${dto.page}">
        <input type="hidden" name="type" th:value="${dto.type}">
        <input type="hidden" name="keyword" th:value="${dto.keyword}">
        <a class="btn btn-primary">Modify</a>
        <button class="btn btn-danger" formation="remove">Remove</a>
        <a th:href="@{/guestbook/list(page=${pageDto.page})}" class="btn btn-success">List</a>
      </form>

    </th:block>
  </th:block>
</html>